{% extends "base_template.html" %}

{% block title %}Community details{% endblock %}

{% block content %}

<h1>{{ community.name }}</h1>
<p>{{ community.description}}</p>
{% if is_creator %}
    <form action="{{ url_for('community.edit_community', community_id=community.id) }}" method="post">
        <button type="submit" class="btn btn-warning">Edit Community</button>
    </form>
    <form action="{{ url_for('community.delete_community', community_id=community.id) }}" method="post">
        <button type="submit" class="btn btn-danger">Delete Community</button>
    </form>
{% else %}
    {% if is_member %}
        <form action="{{ url_for('community.leave_community', community_id=community.id) }}" method="post">
            <button type="submit" class="btn btn-danger">Leave Community</button>
        </form>
    {% else %}
        <form action="{{ url_for('community.join_community', community_id=community.id) }}" method="post">
            <button type="submit" class="btn btn-primary">Join Community</button>
        </form>
    {% endif %}
{% endif %}
<h2>Members</h2>
<ul>
    {% if not community.members %}
        <p>There are no members in this community</p>
    {% else %}
        {% for member in community.member_associations %}
            <li>{{ member.user.profile.surname }}, {{ member.user.profile.name }} - {{member.role}}</li>
        {% endfor %}
    {% endif %}
</ul>
<a href="{{ url_for('community.index') }}">Back to Communities</a>
{% endblock %}

{% block scripts %}
    <script src="{{ url_for('community.scripts') }}"></script>
{% endblock %}
