/* General Styles */
body {
    font-family: Arial, sans-serif;
    background-color: #f4f7fa;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

h1 {
    color: #333;
    text-align: center;
    font-size: 24px;
    margin-bottom: 20px;
}

ul {
    list-style: none;
    padding: 0;
}

li {
    padding: 10px;
    margin-bottom: 10px;
    border-radius: 5px;
}

/* Estilos para mensajes de éxito */
li.success {
    background-color: #28a745; /* Color de fondo verde */
    color: white;              /* Color de texto blanco */
    padding: 15px;             /* Espaciado interior */
    border-radius: 5px;        /* Bordes redondeados */
    margin-bottom: 10px;       /* Separación entre mensajes */
    font-size: 16px;           /* Tamaño de fuente */
    border: 1px solid #218838; /* Borde verde oscuro */
}

/* Estilos para mensajes de error */
li.error {
    background-color: #dc3545; /* Color de fondo rojo */
    color: white;              /* Color de texto blanco */
    padding: 15px;             /* Espaciado interior */
    border-radius: 5px;        /* Bordes redondeados */
    margin-bottom: 10px;       /* Separación entre mensajes */
    font-size: 16px;           /* Tamaño de fuente */
    border: 1px solid #c82333; /* Borde rojo oscuro */
}


/* Form Styling */
form {
    background-color: white;
    padding: 30px;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    width: 100%;
    max-width: 400px;
}

label {
    font-size: 14px;
    color: #333;
    display: block;
    margin-bottom: 8px;
}

input[type="email"] {
    width: 100%;
    padding: 12px;
    margin-bottom: 20px;
    border: 1px solid #ccc;
    border-radius: 4px;
    font-size: 14px;
}

input[type="email"]:focus {
    border-color: #5cb85c;
    outline: none;
}

button {
    width: 100%;
    padding: 12px;
    background-color: #5cb85c;
    color: white;
    border: none;
    border-radius: 4px;
    font-size: 16px;
    cursor: pointer;
}

button:hover {
    background-color: #4cae4c;
}

/* Link Styles */
p {
    text-align: center;
    margin-top: 20px;
}

a {
    color: #007bff;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}
