{% extends "base_template.html" %}

{% block title %}View dataset{% endblock %}

{% block content %}

<h1 class="h3 mb-3"><b>Dashboard</b></h1>

<p>To view the different UVLHub Dashboards, press any button:</p>

<div class="dropdown">
    <button class="btn-dashboard dropdown-toggle" type="button" id="dropdownGeneral" data-bs-toggle="dropdown" aria-expanded="false">
        General Dashboard
    </button>
    <ul class="dropdown-menu" aria-labelledby="dropdownGeneral">
        <li><button class="dropdown-item" onclick="toggleDatasetsPerAuthorGraph()">Graph Datasets per Author(Top 10)</button></li>
        <li><button class="dropdown-item" onclick="toggleviewsPerDatasetGraph()">Graph Views per Dataset(Top 10)</button></li>
        <li><button class="dropdown-item" onclick="toggleDownloadsPerDatasetGraph()">Graph Downloads per Dataset(Top 10)</button></li>
        <li><button class="dropdown-item" onclick="toggleDownloadsPerMonthGraph()">Graph Datasets Downloads per Month</button></li>
        <li><button class="dropdown-item" onclick="toggleViewsPerMonthGraph()">Graph Datasets Views per Month</button></li>
    </ul>
 </div>
 
 <div class="dropdown">
    <button class="btn-dashboard dropdown-toggle" type="button" id="dropdownUsuario" data-bs-toggle="dropdown" aria-expanded="false">
        User Dashboard
    </button>
    <ul class="dropdown-menu" aria-labelledby="dropdownUsuario">
        <li><button class="dropdown-item" onclick="toggleUserGraph()">Graph Views per Dataset of User</button></li>
        <li><button class="dropdown-item" onclick="toggleUserDownloadsGraph()">Graph Downloads per Dataset of User</button></li>
    </ul>
    
 </div>

<canvas id="datasetsPerAuthorChart" width="400" height="200" style="margin-top: 20px; display: none;"></canvas>
<canvas id="viewsPerDatasetChart" width="400" height="200" style="margin-top: 20px; display: none;"></canvas>
<canvas id="downloadsPerDatasetChart" width="400" height="200" style="margin-top: 20px; display: none;"></canvas> 
<canvas id="downloadsPerDatasetChartMonth" width="400" height="200" style="margin-top: 20px; display: none;"></canvas>
<canvas id="viewsPerDatasetChartMonth" width="400" height="200" style="margin-top: 20px; display: none;"></canvas>
<canvas id="userviewsPerDatasetChart" width="400" height="200" style="margin-top: 20px; display: none;"></canvas>
<canvas id="userdownloadsPerDatasetChart" width="400" height="200" style="margin-top: 20px; display: none;"></canvas>


<div id="data-container"
     data-author-names='{{ author_names | tojson | safe }}'
     data-datasets-count='{{ datasets_count | tojson | safe }}'

     data-datasets-names-views='{{ datasets_names_views | tojson | safe }}'
     data-datasets-views='{{ datasets_views | tojson | safe }}'

     data-datasets-names-downloads='{{ datasets_names_downloads | tojson | safe }}'
     data-datasets-downloads='{{ datasets_downloads | tojson | safe }}'

     data-months-downloads='{{ months | tojson | safe }}'
     data-downloads='{{ downloads | tojson | safe }}'
     
     data-months-views='{{ months_views | tojson | safe }}'
     data-views='{{ views_per_month | tojson | safe }}'

     data-datasets-names-views-user='{{ datasets_names_user | tojson | safe }}'
     data-datasets-views-user='{{ datasets_views_user | tojson | safe }}'

     data-datasets-names-downloads-user='{{ datasets_names_user_downloads | tojson | safe }}'
     data-datasets-downloads-user='{{ datasets_download_user | tojson | safe }}'
     style="display: none;">
</div>



{% endblock %}

{% block styles %}
<style>
    .custom-buttons {
        display: flex; /* Esto coloca los botones en fila */
        gap: 10px; /* Espacio entre los botones */
    }

    .btn-dashboard {
        padding: 10px 20px;
        border: 2px solid #0056b3; 
        background-color: #f8f9fa; 
        color: #0056b3; 
        font-weight: bold;
        border-radius: 5px;
        cursor: pointer;
        transition: background-color 0.3s, color 0.3s;
        display: inline-block; /* Esto asegura que el botón se mantenga en línea */
    }

    .btn-dashboard:hover {
        background-color: #0056b3;
        color: #ffffff;
    }
</style>
{% endblock %}

{% block scripts %}
    <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>

    <script>

    function toggleDatasetsPerAuthorGraph() {
        
        const allCharts = ['datasetsPerAuthorChart', 'viewsPerDatasetChart', 'downloadsPerDatasetChartMonth', 'userviewsPerDatasetChart','viewsPerDatasetChartMonth','downloadsPerDatasetChart','userdownloadsPerDatasetChart'];
        allCharts.forEach(function(chartId) {
            document.getElementById(chartId).style.display = "none";
        });
        
        
        const datasetsPerAuthorChart = document.getElementById('datasetsPerAuthorChart');
        datasetsPerAuthorChart.style.display = datasetsPerAuthorChart.style.display === "none" ? "block" : "none";
    }

    function toggleviewsPerDatasetGraph() {
        
        const allCharts = ['datasetsPerAuthorChart', 'viewsPerDatasetChart', 'downloadsPerDatasetChartMonth', 'userviewsPerDatasetChart','viewsPerDatasetChartMonth','downloadsPerDatasetChart','userdownloadsPerDatasetChart'];
        allCharts.forEach(function(chartId) {
            document.getElementById(chartId).style.display = "none";
        });
        
        
        const viewsPerDatasetChart = document.getElementById('viewsPerDatasetChart');
        viewsPerDatasetChart.style.display = viewsPerDatasetChart.style.display === "none" ? "block" : "none";
    }

    function toggleDownloadsPerDatasetGraph() {
        
        const allCharts = ['datasetsPerAuthorChart', 'viewsPerDatasetChart', 'downloadsPerDatasetChartMonth', 'userviewsPerDatasetChart','viewsPerDatasetChartMonth','downloadsPerDatasetChart','userdownloadsPerDatasetChart'];
        allCharts.forEach(function(chartId) {
            document.getElementById(chartId).style.display = "none";
        });
        
        
        const viewsPerDatasetChart = document.getElementById('downloadsPerDatasetChart');
        viewsPerDatasetChart.style.display = viewsPerDatasetChart.style.display === "none" ? "block" : "none";
    }

    function toggleDownloadsPerMonthGraph(chartId) {
        
        const allCharts = ['datasetsPerAuthorChart', 'viewsPerDatasetChart', 'downloadsPerDatasetChartMonth', 'userviewsPerDatasetChart','viewsPerDatasetChartMonth','downloadsPerDatasetChart','userdownloadsPerDatasetChart'];
        allCharts.forEach(function(id) {
            document.getElementById(id).style.display = "none";
        });
        
        
        const selectedChart = document.getElementById('downloadsPerDatasetChartMonth');
        selectedChart.style.display = selectedChart.style.display === "none" ? "block" : "none";
    }
    function toggleViewsPerMonthGraph(chartId) {
        
        const allCharts = ['datasetsPerAuthorChart', 'viewsPerDatasetChart', 'downloadsPerDatasetChartMonth', 'userviewsPerDatasetChart','viewsPerDatasetChartMonth','downloadsPerDatasetChart','userdownloadsPerDatasetChart'];
        allCharts.forEach(function(id) {
            document.getElementById(id).style.display = "none";
        });
        
        
        const selectedChart = document.getElementById('viewsPerDatasetChartMonth');
        selectedChart.style.display = selectedChart.style.display === "none" ? "block" : "none";
    }

    function toggleUserGraph() {
        
        const allCharts = ['datasetsPerAuthorChart', 'viewsPerDatasetChart', 'downloadsPerDatasetChartMonth', 'userviewsPerDatasetChart','viewsPerDatasetChartMonth','downloadsPerDatasetChart','userdownloadsPerDatasetChart'];
        allCharts.forEach(function(chartId) {
            document.getElementById(chartId).style.display = "none";
        });

        
        const userviewsPerDatasetChart = document.getElementById('userviewsPerDatasetChart');
        userviewsPerDatasetChart.style.display = userviewsPerDatasetChart.style.display === "none" ? "block" : "none";
    }
    function toggleUserDownloadsGraph() {
        
        const allCharts = ['datasetsPerAuthorChart', 'viewsPerDatasetChart', 'downloadsPerDatasetChartMonth', 'userviewsPerDatasetChart','viewsPerDatasetChartMonth','downloadsPerDatasetChart','userdownloadsPerDatasetChart'];
        allCharts.forEach(function(chartId) {
            document.getElementById(chartId).style.display = "none";
        });

        
        const userviewsPerDatasetChart = document.getElementById('userdownloadsPerDatasetChart');
        userviewsPerDatasetChart.style.display = userviewsPerDatasetChart.style.display === "none" ? "block" : "none";
    }


        const dataContainer = document.getElementById('data-container');


        const authorNames = JSON.parse(dataContainer.getAttribute('data-author-names'));
        const datasetsCount = JSON.parse(dataContainer.getAttribute('data-datasets-count'));

        const datasetsNamesViews = JSON.parse(dataContainer.getAttribute('data-datasets-names-views'));
        const datasetsViews = JSON.parse(dataContainer.getAttribute('data-datasets-views'));

        const datasetsNamesDownloads = JSON.parse(dataContainer.getAttribute('data-datasets-names-downloads'));
        const datasetsDownloads = JSON.parse(dataContainer.getAttribute('data-datasets-downloads'));

        const monthsDownloads = JSON.parse(dataContainer.getAttribute('data-months-downloads'));
        const downloads = JSON.parse(dataContainer.getAttribute('data-downloads'));

        const monthsViews = JSON.parse(dataContainer.getAttribute('data-months-views'));
        const views = JSON.parse(dataContainer.getAttribute('data-views'));

        const datasetsNamesUser = JSON.parse(document.getElementById('data-container').getAttribute('data-datasets-names-views-user'));
        const datasetsViewsUser = JSON.parse(document.getElementById('data-container').getAttribute('data-datasets-views-user'));

        const datasetsNamesUserDownloads = JSON.parse(document.getElementById('data-container').getAttribute('data-datasets-names-downloads-user'));
        const datasetsDownloadsUser = JSON.parse(document.getElementById('data-container').getAttribute('data-datasets-downloads-user'));




        
        const ctx1 = document.getElementById('datasetsPerAuthorChart').getContext('2d');
        const datasetsPerAuthorChart = new Chart(ctx1, {
            type: 'bar',
            data: {
                labels: authorNames,
                datasets: [{
                    label: 'Number of datasets',
                    data: datasetsCount,
                    backgroundColor: 'rgba(0, 123, 255, 0.5)',
                    borderColor: 'rgba(0, 123, 255, 1)',
                    borderWidth: 1
                }]
            },
            options: {
                responsive: true,
                scales: {
                    y: {
                        beginAtZero: true,
                        title: {
                            display: true,
                            text: 'Number of Datasets'
                        }
                    },
                    x: {
                        title: {
                            display: true,
                            text: 'Authors'
                        }
                    }
                }
            }
        });

        const ctx2 = document.getElementById('viewsPerDatasetChart').getContext('2d');
        const viewsPerDatasetChart = new Chart(ctx2, {
            type: 'bar',
            data: {
                labels: datasetsNamesViews,
                datasets: [{
                    label: 'Number of views per Dataset',
                    data: datasetsViews,
                    backgroundColor: 'rgba(255, 99, 132, 0.5)',
                    borderColor: 'rgba(255, 99, 132, 1)',
                    borderWidth: 1
                }]
            },
            options: {
                responsive: true,
                scales: {
                    y: {
                        beginAtZero: true,
                        title: {
                            display: true,
                            text: 'Number of views'
                        }
                    },
                    x: {
                        title: {
                            display: true,
                            text: 'Datasets'
                        }
                    }
                }
            }
        });
        const ctx7 = document.getElementById('downloadsPerDatasetChart').getContext('2d');
        const downloadsPerDatasetChart = new Chart(ctx7, {
            type: 'bar',
            data: {
                labels: datasetsNamesDownloads,
                datasets: [{
                    label: 'Number of views per Downloads',
                    data: datasetsDownloads,
                    backgroundColor: 'rgba(255, 99, 132, 0.5)',
                    borderColor: 'rgba(255, 99, 132, 1)',
                    borderWidth: 1
                }]
            },
            options: {
                responsive: true,
                scales: {
                    y: {
                        beginAtZero: true,
                        title: {
                            display: true,
                            text: 'Number of Downloads'
                        }
                    },
                    x: {
                        title: {
                            display: true,
                            text: 'Datasets'
                        }
                    }
                }
            }
        });
        
        

        const ctx3 = document.getElementById('downloadsPerDatasetChartMonth').getContext('2d');
        const downloadsPerDatasetChartMonth = new Chart(ctx3, {
            type: 'line', 
            data: {
                labels: monthsDownloads, 
                datasets: [{
                    label: 'Downloads per Month',
                    data: downloads, 
                    borderColor: 'rgba(75, 192, 192, 1)', 
                    backgroundColor: 'rgba(75, 192, 192, 0.2)', 
                    fill: false, 
                    borderWidth: 2, 
                    pointStyle: 'circle', 
                    pointRadius: 5, 
                    pointBackgroundColor: 'rgba(75, 192, 192, 1)' 
                }]
            },
            options: {
                responsive: true,
                scales: {
                    y: {
                        beginAtZero: true,
                        title: {
                            display: true,
                            text: ' Number of Downloads'
                        }
                    },
                    x: {
                        title: {
                            display: true,
                            text: 'Months of the Year'
                        }
                    }
                }
            }
        });
        const ctx6 = document.getElementById('viewsPerDatasetChartMonth').getContext('2d');
        const viewsPerDatasetChartMonth = new Chart(ctx6, {
            type: 'line', 
            data: {
                labels: monthsViews, 
                datasets: [{
                    label: 'Views per Month',
                    data: views, 
                    borderColor: 'rgba(75, 192, 192, 1)', 
                    backgroundColor: 'rgba(75, 192, 192, 0.2)', 
                    fill: false, 
                    borderWidth: 2, 
                    pointStyle: 'circle', 
                    pointRadius: 5, 
                    pointBackgroundColor: 'rgba(75, 192, 192, 1)' 
                }]
            },
            options: {
                responsive: true,
                scales: {
                    y: {
                        beginAtZero: true,
                        title: {
                            display: true,
                            text: ' Number of Views'
                        }
                    },
                    x: {
                        title: {
                            display: true,
                            text: 'Months of the Year'
                        }
                    }
                }
            }
        });
        const ctx4 = document.getElementById('userviewsPerDatasetChart').getContext('2d');
        const userviewsPerDatasetChart = new Chart(ctx4, {
                type: 'bar',
                data: {
                    labels: datasetsNamesUser,
                    datasets: [{
                        label: 'Number of views per Dataset(User)',
                        data: datasetsViewsUser,
                        backgroundColor: 'rgba(54, 162, 235, 0.5)',
                        borderColor: 'rgba(54, 162, 235, 1)',
                        borderWidth: 1
                    }]
                },
                options: {
                    responsive: true,
                    scales: {
                        y: {
                            beginAtZero: true,
                            title: {
                                display: true,
                                text: 'Number of views'
                            }
                        },
                        x: {
                            title: {
                                display: true,
                                text: 'Datasets of the user'
                            }
                        }
                    }
                }
            });
        const ctx8 = document.getElementById('userdownloadsPerDatasetChart').getContext('2d');
        const userdownloadsPerDatasetChart = new Chart(ctx8, {
                type: 'bar',
                data: {
                    labels: datasetsNamesUserDownloads,
                    datasets: [{
                        label: 'Number of downloads per Dataset(User)',
                        data: datasetsDownloadsUser,
                        backgroundColor: 'rgba(54, 162, 235, 0.5)',
                        borderColor: 'rgba(54, 162, 235, 1)',
                        borderWidth: 1
                    }]
                },
                options: {
                    responsive: true,
                    scales: {
                        y: {
                            beginAtZero: true,
                            title: {
                                display: true,
                                text: 'Number of downloads'
                            }
                        },
                        x: {
                            title: {
                                display: true,
                                text: 'Datasets of the user'
                            }
                        }
                    }
                }
            });
    </script>
{% endblock %}
