{% extends "base_template.html" %}

{% block title %}Lista de Usuarios{% endblock %}
{% block content %}

<h1 class="h3 mb-3">Lista de Usuarios</h1>

{% if users %}
    <div class="col-12">
        <div class="card">
            <div class="card-body">
                <table class="table">
                    <tr>
                        <th>ID</th>
                        <th>Nombre de Usuario</th>
                        <th>Email</th>
                        <th>Fecha de creación</th>
                        <th>Datasets</th>
                    </tr>
                    {% for usuario in users %}
                        <tr>
                            <td>{{ usuario['id'] }}</td>
                            <td>{{ usuario['profile']|replace('<', '')|replace('>', '') }}</td>
                            <td>{{ usuario['email'] }}</td>
                            <td>{{ usuario['created_at'] }}</td>
                            <td>
                                {% for dataset in usuario['data_sets'] %}
                                    <a href="{{ dataset.get_uvlhub_doi() }}" class="btn btn-primary" role="button">
                                        Ir a Dataset {{ dataset.ds_meta_data.id }}
                                    </a>
                                {% endfor %}
                            </td>
                        </tr>
                    {% endfor %}
                </table>
            </div>
        </div>
    </div>
{% else %}
    <div class="col-12 col-md-6">
        <div class="card">
            <div class="card-header">
                <h5 class="card-title mb-0">No se encontraron usuarios</h5>
            </div>
            <div class="card-body">
                <p class="card-text">
                    No hay usuarios registrados en el sistema.
                </p>
            </div>
        </div>
    </div>
{% endif %}

{% endblock %}
